* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  user-select: none;
}

body {
  background-color: #ede7e14f;
}

/* Scrollbar container */
::-webkit-scrollbar {
  width: 8px; /* Narrower scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0; /* Light gray background */
  border-radius: 10px; /* Rounded corners for the track */
  margin: 4px; /* Space around the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #a9a9a9,
    #696969
  ); /* Gradient color for the handle */
  border-radius: 10px; /* Rounded corners for the handle */
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); /* Inner shadow for a 3D effect */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #696969,
    #a9a9a9
  ); /* Reverse gradient on hover */
}

.hover-bg-custom:hover {
  background-color: var(--hover-color);
}
